In [67]:
import pandas as pd
#df = pd.read_csv("honeyproduction.csv" , index_col = 'state')
df = pd.read_csv("honeyproduction.csv" )

In [68]:
df

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
0,AL,16000.0,71,1136000.0,159000.0,0.72,818000.0,1998
1,AZ,55000.0,60,3300000.0,1485000.0,0.64,2112000.0,1998
2,AR,53000.0,65,3445000.0,1688000.0,0.59,2033000.0,1998
3,CA,450000.0,83,37350000.0,12326000.0,0.62,23157000.0,1998
4,CO,27000.0,72,1944000.0,1594000.0,0.70,1361000.0,1998
5,FL,230000.0,98,22540000.0,4508000.0,0.64,14426000.0,1998
6,GA,75000.0,56,4200000.0,307000.0,0.69,2898000.0,1998
7,HI,8000.0,118,944000.0,66000.0,0.77,727000.0,1998
8,ID,120000.0,50,6000000.0,2220000.0,0.65,3900000.0,1998
9,IL,9000.0,71,639000.0,204000.0,1.19,760000.0,1998
10,IN,9000.0,92,828000.0,489000.0,0.85,704000.0,1998
11,IA,50000.0,78,3900000.0,2301000.0,0.70,2730000.0,1998
12,KS,16000.0,46,736000.0,390000.0,0.87,640000.0,1998
13,KY,3000.0,50,150000.0,51000.0,1.40,210000.0,1998
14,LA,41000.0,111,4551000.0,865000.0,0.59,2685000.0,1998
15,ME,10000.0,26,260000.0,117000.0,0.69,179000.0,1998
16,MD,7000.0,44,308000.0,92000.0,1.10,339000.0,1998
17,MI,80000.0,85,6800000.0,3672000.0,0.66,4488000.0,1998
18,MN,140000.0,79,11060000.0,2765000.0,0.65,7189000.0,1998
19,MS,18000.0,86,1548000.0,898000.0,0.58,898000.0,1998
20,MO,23000.0,66,1518000.0,455000.0,0.76,1154000.0,1998
21,MT,115000.0,122,14030000.0,5472000.0,0.64,8979000.0,1998
22,NE,64000.0,70,4480000.0,2240000.0,0.86,3853000.0,1998
23,NV,10000.0,46,460000.0,175000.0,1.65,759000.0,1998
24,NJ,11000.0,49,539000.0,167000.0,0.76,410000.0,1998
25,NM,14000.0,55,770000.0,470000.0,0.76,585000.0,1998
26,NY,65000.0,80,5200000.0,2444000.0,0.70,3640000.0,1998
27,NC,8000.0,59,472000.0,151000.0,1.38,651000.0,1998
28,ND,230000.0,128,29440000.0,8832000.0,0.63,18547000.0,1998
29,OH,18000.0,78,1404000.0,702000.0,0.83,1165000.0,1998
...,...,...,...,...,...,...,...,...
596,IN,8000.0,59,472000.0,203000.0,2.54,1199000.0,2012
597,IA,37000.0,61,2257000.0,1196000.0,2.17,4898000.0,2012
598,KS,6000.0,55,330000.0,125000.0,2.28,752000.0,2012
599,KY,5000.0,51,255000.0,41000.0,3.15,803000.0,2012
600,LA,41000.0,86,3526000.0,141000.0,1.83,6453000.0,2012
601,ME,4000.0,34,136000.0,24000.0,2.39,325000.0,2012
602,MI,73000.0,57,4161000.0,1332000.0,2.03,8447000.0,2012
603,MN,125000.0,67,8375000.0,1591000.0,1.92,16080000.0,2012
604,MS,18000.0,118,2124000.0,64000.0,1.77,3759000.0,2012
605,MO,7000.0,53,371000.0,108000.0,2.80,1039000.0,2012
606,MT,145000.0,52,7540000.0,2413000.0,1.95,14703000.0,2012
607,NE,43000.0,65,2795000.0,1146000.0,1.93,5394000.0,2012
608,NJ,14000.0,33,462000.0,51000.0,1.97,910000.0,2012
609,NM,5000.0,52,260000.0,99000.0,3.39,881000.0,2012
610,NY,51000.0,51,2601000.0,988000.0,2.23,5800000.0,2012
611,NC,13000.0,39,507000.0,106000.0,3.76,1906000.0,2012
612,ND,480000.0,69,33120000.0,5962000.0,1.92,63590000.0,2012
613,OH,18000.0,60,1080000.0,410000.0,2.46,2657000.0,2012
614,OR,60000.0,32,1920000.0,845000.0,2.16,4147000.0,2012
615,PA,16000.0,60,960000.0,269000.0,2.57,2467000.0,2012
616,SD,260000.0,63,16380000.0,3604000.0,1.95,31941000.0,2012
617,TN,6000.0,61,366000.0,59000.0,2.93,1072000.0,2012
618,TX,92000.0,52,4784000.0,718000.0,2.00,9568000.0,2012
619,UT,25000.0,38,950000.0,209000.0,1.87,1777000.0,2012
620,VT,4000.0,60,240000.0,53000.0,2.39,574000.0,2012
621,VA,4000.0,41,164000.0,23000.0,3.77,618000.0,2012
622,WA,62000.0,41,2542000.0,1017000.0,2.38,6050000.0,2012
623,WV,6000.0,48,288000.0,95000.0,2.91,838000.0,2012
624,WI,60000.0,69,4140000.0,1863000.0,2.05,8487000.0,2012
625,WY,50000.0,51,2550000.0,459000.0,1.87,4769000.0,2012

In [69]:
df[['yieldpercol', 'numcol']]

     yieldpercol    numcol
0             71   16000.0
1             60   55000.0
2             65   53000.0
3             83  450000.0
4             72   27000.0
5             98  230000.0
6             56   75000.0
7            118    8000.0
8             50  120000.0
9             71    9000.0
10            92    9000.0
11            78   50000.0
12            46   16000.0
13            50    3000.0
14           111   41000.0
15            26   10000.0
16            44    7000.0
17            85   80000.0
18            79  140000.0
19            86   18000.0
20            66   23000.0
21           122  115000.0
22            70   64000.0
23            46   10000.0
24            49   11000.0
25            55   14000.0
26            80   65000.0
27            59    8000.0
28           128  230000.0
29            78   18000.0
..           ...       ...
596           59    8000.0
597           61   37000.0
598           55    6000.0
599           51    5000.0
600           86   41000.0
601           34    4000.0
602           57   73000.0
603           67  125000.0
604          118   18000.0
605           53    7000.0
606           52  145000.0
607           65   43000.0
608           33   14000.0
609           52    5000.0
610           51   51000.0
611           39   13000.0
612           69  480000.0
613           60   18000.0
614           32   60000.0
615           60   16000.0
616           63  260000.0
617           61    6000.0
618           52   92000.0
619           38   25000.0
620           60    4000.0
621           41    4000.0
622           41   62000.0
623           48    6000.0
624           69   60000.0
625           51   50000.0

[626 rows x 2 columns]

In [70]:
df.index

RangeIndex(start=0, stop=626, step=1)

In [94]:
#df.loc['IN']
df2 = df[df['state'] == 'IN']

ValueError: labels ['index'] not contained in axis

In [89]:
#df.loc['IN'][df.loc['IN'].totalprod == df.loc['IN'].totalprod.max()]
df2[df2.totalprod == df2.totalprod.max()]

,state,numcol,yieldpercol,totalprod,stocks,priceperlb,prodvalue,year
10,IN,9000.0,92,828000.0,489000.0,0.85,704000.0,1998

In [58]:
#df2 = df.loc['IN'][['totalprod','stocks','priceperlb']]

In [59]:
#df2

       totalprod    stocks  priceperlb
state
IN      828000.0  489000.0        0.85
IN      810000.0  437000.0        0.90
IN      520000.0  286000.0        1.03
IN      532000.0  186000.0        0.92
IN      496000.0  233000.0        1.19
IN      280000.0   78000.0        1.66
IN      413000.0  145000.0        1.47
IN      512000.0  189000.0        1.18
IN      378000.0  125000.0        1.58
IN      424000.0  119000.0        1.50
IN      469000.0  150000.0        1.68
IN      288000.0  101000.0        2.02
IN      430000.0  151000.0        2.23
IN      408000.0  147000.0        2.14
IN      472000.0  203000.0        2.54

In [60]:
df2['totalprod'].max()

828000.0

In [65]:
df2[df2.totalprod == df2.totalprod.max()]

       totalprod    stocks  priceperlb
state
IN      828000.0  489000.0        0.85